<h1>目录<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#读入数据集" data-toc-modified-id="读入数据集-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>读入数据集</a></span></li><li><span><a href="#构建用户和物品之间的关系矩阵" data-toc-modified-id="构建用户和物品之间的关系矩阵-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>构建用户和物品之间的关系矩阵</a></span><ul class="toc-item"><li><span><a href="#将矩阵中的空值填充成0" data-toc-modified-id="将矩阵中的空值填充成0-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>将矩阵中的空值填充成0</a></span></li></ul></li><li><span><a href="#计算用户相似度(余弦相似度)" data-toc-modified-id="计算用户相似度(余弦相似度)-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>计算用户相似度(余弦相似度)</a></span><ul class="toc-item"><li><span><a href="#计算皮尔逊相关性" data-toc-modified-id="计算皮尔逊相关性-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>计算皮尔逊相关性</a></span></li></ul></li><li><span><a href="#构建推荐系统的推荐指数的功能" data-toc-modified-id="构建推荐系统的推荐指数的功能-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>构建推荐系统的推荐指数的功能</a></span></li><li><span><a href="#把上面的计算过程打包成函数进行使用" data-toc-modified-id="把上面的计算过程打包成函数进行使用-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>把上面的计算过程打包成函数进行使用</a></span></li><li><span><a href="#构建预测函数" data-toc-modified-id="构建预测函数-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>构建预测函数</a></span><ul class="toc-item"><li><span><a href="#把预测功能打包成函数" data-toc-modified-id="把预测功能打包成函数-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>把预测功能打包成函数</a></span></li></ul></li><li><span><a href="#构建最终的推荐功能" data-toc-modified-id="构建最终的推荐功能-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>构建最终的推荐功能</a></span><ul class="toc-item"><li><span><a href="#对上面的数据进行分组操作" data-toc-modified-id="对上面的数据进行分组操作-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>对上面的数据进行分组操作</a></span></li><li><span><a href="#用apply调用上面的函数进行分组操作" data-toc-modified-id="用apply调用上面的函数进行分组操作-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>用apply调用上面的函数进行分组操作</a></span></li><li><span><a href="#或者是直接调用写好的函数" data-toc-modified-id="或者是直接调用写好的函数-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>或者是直接调用写好的函数</a></span></li></ul></li></ul></div>

# 手写实现协同过滤算法

因为算法比较困难, 所以我们使用课件中的简单数据集先去进行模型试验.

In [1]:
import numpy as np
import pandas as pd

## 读入数据集

In [29]:
# 把课件中的example.txt 读入进来
df = pd.read_csv('ml-100k/u.data', sep='\t',header = None )
df.head()

     0    1  2          3
0  196  242  3  881250949
1  186  302  3  891717742
2   22  377  1  878887116
3  244   51  2  880606923
4  166  346  1  886397596

In [30]:
# header = None 不将数据集中的第一列作为列名读取
# 给读进来的表格设置一个列名, 重新传递列名
df.columns = ['用户ID','产品ID','评分','时间']
df

       用户ID  产品ID  评分         时间
0       196   242   3  881250949
1       186   302   3  891717742
2        22   377   1  878887116
3       244    51   2  880606923
4       166   346   1  886397596
...     ...   ...  ..        ...
99995   880   476   3  880175444
99996   716   204   5  879795543
99997   276  1090   1  874795795
99998    13   225   2  882399156
99999    12   203   3  879959583

[100000 rows x 4 columns]

In [31]:
df.shape

(100000, 4)

In [32]:
# 将时间这列删除掉
del df['时间']

In [33]:
df.head()

   用户ID  产品ID  评分
0   196   242   3
1   186   302   3
2    22   377   1
3   244    51   2
4   166   346   1

## 构建用户和物品之间的关系矩阵

index=None, columns=None, values=None

index ,用哪里列作为行

columns, 用哪个作为透视表的列

values, 用那一列作为值

In [34]:
# 使用的是透视表函数
df_pivot = df.pivot(index='用户ID',columns='产品ID',values= '评分')

In [35]:
df_pivot

产品ID,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
用户ID,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# 数据集中一共有 943个用户 , 1682 个 电影
df_pivot.shape

(943, 1682)

### 将矩阵中的空值填充成0

In [37]:
# inplace = True 直接在原数据集中进行替换
df_pivot.fillna(0 , inplace=True)

In [38]:
df_pivot

产品ID,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
用户ID,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
# 将上面的DataFrame 转换成数组
freq_matrix = df_pivot.values
freq_matrix

array([[5., 3., 4., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [5., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 5., 0., ..., 0., 0., 0.]])

## 计算用户相似度(余弦相似度)

In [40]:
from sklearn.metrics.pairwise import cosine_similarity

In [41]:
# 计算用户余弦相似度矩阵
cosine_similarity(freq_matrix)

array([[1.        , 0.16693098, 0.04745954, ..., 0.14861694, 0.17950788,
        0.39817474],
       [0.16693098, 1.        , 0.11059132, ..., 0.16148478, 0.17226781,
        0.10579788],
       [0.04745954, 0.11059132, 1.        , ..., 0.10124256, 0.13341615,
        0.02655587],
       ...,
       [0.14861694, 0.16148478, 0.10124256, ..., 1.        , 0.1016418 ,
        0.09511958],
       [0.17950788, 0.17226781, 0.13341615, ..., 0.1016418 , 1.        ,
        0.18246466],
       [0.39817474, 0.10579788, 0.02655587, ..., 0.09511958, 0.18246466,
        1.        ]])

In [42]:
# 将用户相似度计算出来并进行保存
user_similar_matrix = cosine_similarity(freq_matrix)

### 计算皮尔逊相关性

因为corr默认计算的是列之间的相关性,而我们要计算的是行之间的相关性, 那么我们先对矩阵进行转置, 将行列进行调换, 然后再计算

In [43]:
# 皮尔孙相关系数的计算
df_pivot.T.corr()

用户ID,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
用户ID,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.106322,-0.016424,0.021716,0.302592,0.345976,0.320017,0.276208,0.038812,0.288491,...,0.285923,0.068878,0.189272,0.146979,0.119444,0.060175,0.247483,0.115504,0.108984,0.323231
2,0.106322,1.000000,0.082680,0.160323,0.020218,0.197844,0.022886,0.072772,0.143716,0.106861,...,0.106416,0.288550,0.325233,0.408466,0.289112,0.204094,0.190848,0.144177,0.138292,0.054235
3,-0.016424,0.082680,1.000000,0.331674,-0.028322,0.017673,-0.013384,0.055385,0.043505,0.012080,...,-0.020605,0.018746,0.124174,0.046247,0.088974,-0.001145,0.127539,0.084532,0.102025,-0.023601
4,0.021716,0.160323,0.331674,1.000000,-0.002426,0.030206,0.041056,0.171116,0.089372,0.024018,...,0.016641,0.019738,0.105135,0.179598,0.122649,0.010890,0.174904,0.140811,0.149575,0.025367
5,0.302592,0.020218,-0.028322,-0.002426,1.000000,0.153409,0.279677,0.209280,0.025496,0.117166,...,0.272866,0.039333,0.013999,0.039519,0.085548,0.024292,0.182466,0.112571,0.096603,0.248991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.060175,0.204094,-0.001145,0.010890,0.024292,0.059487,0.032591,0.068270,0.021669,0.018157,...,0.015185,0.416779,0.223173,0.207318,0.410470,1.000000,0.049517,0.164739,0.008036,0.100749
940,0.247483,0.190848,0.127539,0.174904,0.182466,0.295949,0.251988,0.213408,0.096886,0.287583,...,0.273078,0.074005,0.128224,0.152222,0.124941,0.049517,1.000000,0.122478,0.221234,0.182613
941,0.115504,0.144177,0.084532,0.140811,0.112571,0.113858,0.008168,0.129096,0.132400,0.057182,...,0.012887,0.189966,0.269370,0.221696,0.297188,0.164739,0.122478,1.000000,0.080130,0.065300
942,0.108984,0.138292,0.102025,0.149575,0.096603,0.266345,0.210390,0.142832,0.070695,0.154295,...,0.172368,0.043239,0.031500,0.101948,0.051432,0.008036,0.221234,0.080130,1.000000,0.127735
943,0.323231,0.054235,-0.023601,0.025367,0.248991,0.194925,0.301997,0.262813,0.044727,0.138188,...,0.188953,0.176460,0.065226,0.036712,0.142221,0.100749,0.182613,0.065300,0.127735,1.000000

## 构建推荐系统的推荐指数的功能

## 把上面的计算过程打包成函数进行使用

In [44]:
from recommend import cal_recommend_index_by_users

In [45]:
# 这个代表 对于 用户5 ,计算产品1 对他的推荐指数
cal_recommend_index_by_users(k = 7,user_id= 5,item_id = 1, 
            freq_matrix=freq_matrix , user_similar_matrix= user_similar_matrix)

1.0

## 构建预测函数

1. 先构建一个空的矩阵, 用户填充用户和产品之间的推荐指数是
2. 构建的这个矩阵必须是和freq_matrix这个矩阵形状相同
3. 写一个两层循环, 分别对矩阵中的值进行运算, 采用刚才写好的cal_recommend_index函数进行计算其中的值.
4. 前提条件: 如果原来freq_matrix中的值已经有了,则不需要计算,如果值为0,则计算这个值,并填充到构建的空矩阵当中去

np.zeros_like: 函数功能, 构建一个0矩阵,形状和传入的矩阵相同

第一个参数a: 传入的这个矩阵

### 把预测功能打包成函数

In [46]:
def cal_recommend_index_matrix(freq_matrix, user_similar_matrix ):
    """函数功能: 传入用户评分矩阵, 计算并返回用户对所有产品的推荐矩阵
    参数:
    freq_matrix: 用户评分矩阵
    user_similar_matrix: 用户相似度矩阵
    返回值: 推荐系数矩阵"""
    predict_matrix = np.zeros_like(freq_matrix)

    # 写一个两层循环, 分别对predict_matrix 矩阵中的每一个位置的值进行遍历
    # predict_matrix.shape[0] 代表用户个数 , range()生成一个线性序列和这个长度相同
    for user_id in range(predict_matrix.shape[0]):
        print("user_id: ",user_id)
        # 对每行中的每一个值进行遍历
        for item_id in range(predict_matrix.shape[1]):
            # 首先判断原来这个用户有没有对这个产品评分过,如果有不需要计算,如果没有 值为0,则进行计算
            if freq_matrix[user_id,item_id ] == 0:
                # 如果为0 计算推荐指数,
                recommend_index= cal_recommend_index_by_users(2, user_id, item_id ,freq_matrix,user_similar_matrix )
                # 算出来之后, 把这个数值保存到矩阵中去
                predict_matrix[user_id , item_id] = recommend_index
    return predict_matrix

In [47]:
# 调用上面的函数计算推荐系数矩阵
predict_matrix = cal_recommend_index_matrix(freq_matrix ,user_similar_matrix)
predict_matrix

user_id:  0
user_id:  1
user_id:  2
user_id:  3
user_id:  4
user_id:  5
user_id:  6
user_id:  7
user_id:  8
user_id:  9
user_id:  10
user_id:  11
user_id:  12
user_id:  13
user_id:  14
user_id:  15
user_id:  16
user_id:  17
user_id:  18
user_id:  19
user_id:  20
user_id:  21
user_id:  22
user_id:  23
user_id:  24
user_id:  25
user_id:  26
user_id:  27
user_id:  28
user_id:  29
user_id:  30
user_id:  31
user_id:  32
user_id:  33
user_id:  34
user_id:  35
user_id:  36
user_id:  37
user_id:  38
user_id:  39
user_id:  40
user_id:  41
user_id:  42
user_id:  43
user_id:  44
user_id:  45
user_id:  46
user_id:  47
user_id:  48
user_id:  49
user_id:  50
user_id:  51
user_id:  52
user_id:  53
user_id:  54
user_id:  55
user_id:  56
user_id:  57
user_id:  58
user_id:  59
user_id:  60
user_id:  61
user_id:  62
user_id:  63
user_id:  64
user_id:  65
user_id:  66
user_id:  67
user_id:  68
user_id:  69
user_id:  70
user_id:  71
user_id:  72
user_id:  73
user_id:  74
user_id:  75
user_id:  76
user_id:  77
user_id:  78
user_id:  79
user_id:  80
user_id:  81
user_id:  82
user_id:  83
user_id:  84
user_id:  85
user_id:  86
user_id:  87
user_id:  88
user_id:  89
user_id:  90
user_id:  91
user_id:  92
user_id:  93
user_id:  94
user_id:  95
user_id:  96
user_id:  97
user_id:  98
user_id:  99
user_id:  100
user_id:  101
user_id:  102
user_id:  103
user_id:  104
user_id:  105
user_id:  106
user_id:  107
user_id:  108
user_id:  109
user_id:  110
user_id:  111
user_id:  112
user_id:  113
user_id:  114
user_id:  115
user_id:  116
user_id:  117
user_id:  118
user_id:  119
user_id:  120
user_id:  121
user_id:  122
user_id:  123
user_id:  124
user_id:  125
user_id:  126
user_id:  127
user_id:  128
user_id:  129
user_id:  130
user_id:  131
user_id:  132
user_id:  133
user_id:  134
user_id:  135
user_id:  136
user_id:  137
user_id:  138
user_id:  139
user_id:  140
user_id:  141
user_id:  142
user_id:  143
user_id:  144
user_id:  145
user_id:  146
user_id:  147
user_id:  148
user_id:  149
user_id:  150
user_id:  151
user_id:  152
user_id:  153
user_id:  154
user_id:  155
user_id:  156
user_id:  157
user_id:  158
user_id:  159
user_id:  160
user_id:  161
user_id:  162
user_id:  163
user_id:  164
user_id:  165
user_id:  166
user_id:  167
user_id:  168
user_id:  169
user_id:  170
user_id:  171
user_id:  172
user_id:  173
user_id:  174
user_id:  175
user_id:  176
user_id:  177
user_id:  178
user_id:  179
user_id:  180
user_id:  181
user_id:  182
user_id:  183
user_id:  184
user_id:  185
user_id:  186
user_id:  187
user_id:  188
user_id:  189
user_id:  190
user_id:  191
user_id:  192
user_id:  193
user_id:  194
user_id:  195
user_id:  196
user_id:  197
user_id:  198
user_id:  199
user_id:  200
user_id:  201
user_id:  202
user_id:  203
user_id:  204
user_id:  205
user_id:  206
user_id:  207
user_id:  208
user_id:  209
user_id:  210
user_id:  211
user_id:  212
user_id:  213
user_id:  214
user_id:  215
user_id:  216
user_id:  217
user_id:  218
user_id:  219
user_id:  220
user_id:  221
user_id:  222
user_id:  223
user_id:  224
user_id:  225
user_id:  226
user_id:  227
user_id:  228
user_id:  229
user_id:  230
user_id:  231
user_id:  232
user_id:  233
user_id:  234
user_id:  235
user_id:  236
user_id:  237
user_id:  238
user_id:  239
user_id:  240
user_id:  241
user_id:  242
user_id:  243
user_id:  244
user_id:  245
user_id:  246
user_id:  247
user_id:  248
user_id:  249
user_id:  250
user_id:  251
user_id:  252
user_id:  253
user_id:  254
user_id:  255
user_id:  256
user_id:  257
user_id:  258
user_id:  259
user_id:  260
user_id:  261
user_id:  262
user_id:  263
user_id:  264
user_id:  265
user_id:  266
user_id:  267
user_id:  268
user_id:  269
user_id:  270
user_id:  271
user_id:  272
user_id:  273
user_id:  274
user_id:  275
user_id:  276
user_id:  277
user_id:  278
user_id:  279
user_id:  280
user_id:  281
user_id:  282
user_id:  283
user_id:  284
user_id:  285
user_id:  286
user_id:  287
user_id:  288
user_id:  289
user_id:  290
user_id:  291
user_id:  292
user_id:  293
user_id:  294
user_id:  295
user_id:  296
user_id:  297
user_id:  298
user_id:  299
user_id:  300
user_id:  301
user_id:  302
user_id:  303
user_id:  304
user_id:  305
user_id:  306
user_id:  307
user_id:  308
user_id:  309
user_id:  310
user_id:  311
user_id:  312
user_id:  313
user_id:  314
user_id:  315
user_id:  316
user_id:  317
user_id:  318
user_id:  319
user_id:  320
user_id:  321
user_id:  322
user_id:  323
user_id:  324
user_id:  325
user_id:  326
user_id:  327
user_id:  328
user_id:  329
user_id:  330
user_id:  331
user_id:  332
user_id:  333
user_id:  334
user_id:  335
user_id:  336
user_id:  337
user_id:  338
user_id:  339
user_id:  340
user_id:  341
user_id:  342
user_id:  343
user_id:  344
user_id:  345
user_id:  346
user_id:  347
user_id:  348
user_id:  349
user_id:  350
user_id:  351
user_id:  352
user_id:  353
user_id:  354
user_id:  355
user_id:  356
user_id:  357
user_id:  358
user_id:  359
user_id:  360
user_id:  361
user_id:  362
user_id:  363
user_id:  364
user_id:  365
user_id:  366
user_id:  367
user_id:  368
user_id:  369
user_id:  370
user_id:  371
user_id:  372
user_id:  373
user_id:  374
user_id:  375
user_id:  376
user_id:  377
user_id:  378
user_id:  379
user_id:  380
user_id:  381
user_id:  382
user_id:  383
user_id:  384
user_id:  385
user_id:  386
user_id:  387
user_id:  388
user_id:  389
user_id:  390
user_id:  391
user_id:  392
user_id:  393
user_id:  394
user_id:  395
user_id:  396
user_id:  397
user_id:  398
user_id:  399
user_id:  400
user_id:  401
user_id:  402
user_id:  403
user_id:  404
user_id:  405
user_id:  406
user_id:  407
user_id:  408
user_id:  409
user_id:  410
user_id:  411
user_id:  412
user_id:  413
user_id:  414
user_id:  415
user_id:  416
user_id:  417
user_id:  418
user_id:  419
user_id:  420
user_id:  421
user_id:  422
user_id:  423
user_id:  424
user_id:  425
user_id:  426
user_id:  427
user_id:  428
user_id:  429
user_id:  430
user_id:  431
user_id:  432
user_id:  433
user_id:  434
user_id:  435
user_id:  436
user_id:  437
user_id:  438
user_id:  439
user_id:  440
user_id:  441
user_id:  442
user_id:  443
user_id:  444
user_id:  445
user_id:  446
user_id:  447
user_id:  448
user_id:  449
user_id:  450
user_id:  451
user_id:  452
user_id:  453
user_id:  454
user_id:  455
user_id:  456
user_id:  457
user_id:  458
user_id:  459
user_id:  460
user_id:  461
user_id:  462
user_id:  463
user_id:  464
user_id:  465
user_id:  466
user_id:  467
user_id:  468
user_id:  469
user_id:  470
user_id:  471
user_id:  472
user_id:  473
user_id:  474
user_id:  475
user_id:  476
user_id:  477
user_id:  478
user_id:  479
user_id:  480
user_id:  481
user_id:  482
user_id:  483
user_id:  484
user_id:  485
user_id:  486
user_id:  487
user_id:  488
user_id:  489
user_id:  490
user_id:  491
user_id:  492
user_id:  493
user_id:  494
user_id:  495
user_id:  496
user_id:  497
user_id:  498
user_id:  499
user_id:  500
user_id:  501
user_id:  502
user_id:  503
user_id:  504
user_id:  505
user_id:  506
user_id:  507
user_id:  508
user_id:  509
user_id:  510
user_id:  511
user_id:  512
user_id:  513
user_id:  514
user_id:  515
user_id:  516
user_id:  517
user_id:  518
user_id:  519
user_id:  520
user_id:  521
user_id:  522
user_id:  523
user_id:  524
user_id:  525
user_id:  526
user_id:  527
user_id:  528
user_id:  529
user_id:  530
user_id:  531
user_id:  532
user_id:  533
user_id:  534
user_id:  535
user_id:  536
user_id:  537
user_id:  538
user_id:  539
user_id:  540
user_id:  541
user_id:  542
user_id:  543
user_id:  544
user_id:  545
user_id:  546
user_id:  547
user_id:  548
user_id:  549
user_id:  550
user_id:  551
user_id:  552
user_id:  553
user_id:  554
user_id:  555
user_id:  556
user_id:  557
user_id:  558
user_id:  559
user_id:  560
user_id:  561
user_id:  562
user_id:  563
user_id:  564
user_id:  565
user_id:  566
user_id:  567
user_id:  568
user_id:  569
user_id:  570
user_id:  571
user_id:  572
user_id:  573
user_id:  574
user_id:  575
user_id:  576
user_id:  577
user_id:  578
user_id:  579
user_id:  580
user_id:  581
user_id:  582
user_id:  583
user_id:  584
user_id:  585
user_id:  586
user_id:  587
user_id:  588
user_id:  589
user_id:  590
user_id:  591
user_id:  592
user_id:  593
user_id:  594
user_id:  595

user_id:  596
user_id:  597
user_id:  598
user_id:  599
user_id:  600
user_id:  601
user_id:  602
user_id:  603
user_id:  604
user_id:  605
user_id:  606
user_id:  607
user_id:  608
user_id:  609
user_id:  610
user_id:  611
user_id:  612
user_id:  613
user_id:  614
user_id:  615
user_id:  616
user_id:  617
user_id:  618
user_id:  619
user_id:  620
user_id:  621
user_id:  622
user_id:  623
user_id:  624
user_id:  625
user_id:  626
user_id:  627
user_id:  628
user_id:  629
user_id:  630
user_id:  631
user_id:  632
user_id:  633
user_id:  634
user_id:  635
user_id:  636
user_id:  637
user_id:  638
user_id:  639
user_id:  640
user_id:  641
user_id:  642
user_id:  643
user_id:  644
user_id:  645
user_id:  646
user_id:  647
user_id:  648
user_id:  649
user_id:  650
user_id:  651
user_id:  652
user_id:  653
user_id:  654
user_id:  655
user_id:  656
user_id:  657
user_id:  658
user_id:  659
user_id:  660
user_id:  661
user_id:  662
user_id:  663
user_id:  664
user_id:  665
user_id:  666
user_id:  667
user_id:  668
user_id:  669
user_id:  670
user_id:  671
user_id:  672
user_id:  673
user_id:  674
user_id:  675
user_id:  676
user_id:  677
user_id:  678
user_id:  679
user_id:  680
user_id:  681
user_id:  682
user_id:  683
user_id:  684
user_id:  685
user_id:  686
user_id:  687
user_id:  688
user_id:  689
user_id:  690
user_id:  691
user_id:  692
user_id:  693
user_id:  694
user_id:  695
user_id:  696
user_id:  697
user_id:  698
user_id:  699
user_id:  700
user_id:  701
user_id:  702
user_id:  703
user_id:  704
user_id:  705
user_id:  706
user_id:  707
user_id:  708
user_id:  709
user_id:  710
user_id:  711
user_id:  712
user_id:  713
user_id:  714
user_id:  715
user_id:  716
user_id:  717
user_id:  718
user_id:  719
user_id:  720
user_id:  721
user_id:  722
user_id:  723
user_id:  724
user_id:  725
user_id:  726
user_id:  727
user_id:  728
user_id:  729
user_id:  730
user_id:  731
user_id:  732
user_id:  733
user_id:  734
user_id:  735
user_id:  736
user_id:  737
user_id:  738
user_id:  739
user_id:  740
user_id:  741
user_id:  742
user_id:  743
user_id:  744
user_id:  745
user_id:  746
user_id:  747
user_id:  748
user_id:  749
user_id:  750
user_id:  751
user_id:  752
user_id:  753
user_id:  754
user_id:  755
user_id:  756
user_id:  757
user_id:  758
user_id:  759
user_id:  760
user_id:  761
user_id:  762
user_id:  763
user_id:  764
user_id:  765
user_id:  766
user_id:  767
user_id:  768
user_id:  769
user_id:  770
user_id:  771
user_id:  772
user_id:  773
user_id:  774
user_id:  775
user_id:  776
user_id:  777
user_id:  778
user_id:  779
user_id:  780
user_id:  781
user_id:  782
user_id:  783
user_id:  784
user_id:  785
user_id:  786
user_id:  787
user_id:  788
user_id:  789
user_id:  790
user_id:  791
user_id:  792
user_id:  793
user_id:  794
user_id:  795
user_id:  796
user_id:  797
user_id:  798
user_id:  799
user_id:  800
user_id:  801
user_id:  802
user_id:  803
user_id:  804
user_id:  805
user_id:  806
user_id:  807
user_id:  808
user_id:  809
user_id:  810
user_id:  811
user_id:  812
user_id:  813
user_id:  814
user_id:  815
user_id:  816
user_id:  817
user_id:  818
user_id:  819
user_id:  820
user_id:  821
user_id:  822
user_id:  823
user_id:  824
user_id:  825
user_id:  826
user_id:  827
user_id:  828
user_id:  829
user_id:  830
user_id:  831
user_id:  832
user_id:  833
user_id:  834
user_id:  835
user_id:  836
user_id:  837
user_id:  838
user_id:  839
user_id:  840
user_id:  841
user_id:  842
user_id:  843
user_id:  844
user_id:  845
user_id:  846
user_id:  847
user_id:  848
user_id:  849
user_id:  850
user_id:  851
user_id:  852
user_id:  853
user_id:  854
user_id:  855
user_id:  856
user_id:  857
user_id:  858
user_id:  859
user_id:  860
user_id:  861
user_id:  862
user_id:  863
user_id:  864
user_id:  865
user_id:  866
user_id:  867
user_id:  868
user_id:  869
user_id:  870
user_id:  871
user_id:  872
user_id:  873
user_id:  874
user_id:  875
user_id:  876
user_id:  877
user_id:  878
user_id:  879
user_id:  880
user_id:  881
user_id:  882
user_id:  883
user_id:  884
user_id:  885
user_id:  886
user_id:  887
user_id:  888
user_id:  889
user_id:  890
user_id:  891
user_id:  892
user_id:  893
user_id:  894
user_id:  895
user_id:  896
user_id:  897
user_id:  898
user_id:  899
user_id:  900
user_id:  901
user_id:  902
user_id:  903
user_id:  904
user_id:  905
user_id:  906
user_id:  907
user_id:  908
user_id:  909
user_id:  910
user_id:  911
user_id:  912
user_id:  913
user_id:  914
user_id:  915
user_id:  916
user_id:  917
user_id:  918
user_id:  919
user_id:  920
user_id:  921
user_id:  922
user_id:  923
user_id:  924
user_id:  925
user_id:  926
user_id:  927
user_id:  928
user_id:  929
user_id:  930
user_id:  931
user_id:  932
user_id:  933
user_id:  934
user_id:  935
user_id:  936
user_id:  937
user_id:  938
user_id:  939
user_id:  940
user_id:  941
user_id:  942

array([[0., 0., 0., ..., 0., 0., 3.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 2., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [3., 0., 0., ..., 0., 0., 0.],
       [4., 0., 3., ..., 0., 0., 0.]])

## 构建最终的推荐功能

1. 首先把上面的矩阵转换成DataFrame,方便操作
2. 现在的推荐矩阵不太方便操作,我们把数据转换回最初的那种格式
```
re_df_2 = re_df.stack().reset_index()
re_df_2
```
3. 现在我们需要根据每一个用户ID,提取推荐指数最大的两个产品
4. 所以我们需要对数据进行分组, 根据用户ID进行分组.
5. 如何提取出最大的两个数据呢? 默认没有这样功能, 所以我们自己构建一个函数,然后使用分组中的apply功能 , 应用这个聚合函数, 得到最终推荐结果.
6. 清理数据中的无效信息

In [26]:
df_pivot

产品ID,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
用户ID,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
# 把这个推荐矩阵转换成DataFrame, 索引值使用之前的那个df_pivot的索引值
re_df = pd.DataFrame(predict_matrix ,index=df_pivot.index , 
             columns= df_pivot.columns)
re_df

产品ID,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
用户ID,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,3.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,4.0,0.0,3.000000,0.000000,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,4.0,0.0,0.0,0.0,0.0,0.0,4.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,2.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,3.0,0.0,0.0,0.0,0.0,0.0,0.000000,5.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,4.0,0.0,3.0,3.0,3.0,0.0,4.491586,2.016828,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
# 把二维数据DataFrame 转化成 2重索引的 一维Series
re_df.stack()

用户ID  产品ID
1     1       0.0
      2       0.0
      3       0.0
      4       0.0
      5       0.0
             ...
943   1678    0.0
      1679    0.0
      1680    0.0
      1681    0.0
      1682    0.0
Length: 1586126, dtype: float64

In [50]:
# 对多重索引的Series进行 reset_index , 就会把索引和列都变成DataFrame里面的数据
re_df_2 = re_df.stack().reset_index()
re_df_2

         用户ID  产品ID    0
0           1     1  0.0
1           1     2  0.0
2           1     3  0.0
3           1     4  0.0
4           1     5  0.0
...       ...   ...  ...
1586121   943  1678  0.0
1586122   943  1679  0.0
1586123   943  1680  0.0
1586124   943  1681  0.0
1586125   943  1682  0.0

[1586126 rows x 3 columns]

In [51]:
# 把上面的列名0 改成 推荐指数
re_df_2.rename(columns={0:"推荐指数"} ,inplace=True)

In [52]:
re_df_2

         用户ID  产品ID  推荐指数
0           1     1   0.0
1           1     2   0.0
2           1     3   0.0
3           1     4   0.0
4           1     5   0.0
...       ...   ...   ...
1586121   943  1678   0.0
1586122   943  1679   0.0
1586123   943  1680   0.0
1586124   943  1681   0.0
1586125   943  1682   0.0

[1586126 rows x 3 columns]

### 对上面的数据进行分组操作

以用户ID进行分组, 提取出每组中最大的两个推荐指数的数据

In [53]:
# 保存分组结果, 但是先不进行合并
re_df_grouped = re_df_2.groupby(by='用户ID')
re_df_grouped

In [54]:
# 定义函数功能, 参数n代表要提取几个东西
# 第一个参数分组结果
def get_topn(group, n):
    # group 就代表了每一组数据
    # 计算出每一组数据中的最大的两个数据的id 和指数
    # 首先对每组数据进行排序, 排序后切片出前两个最大的值
    r = group.sort_values(by='推荐指数', ascending=False)[:n]
    return r

### 用apply调用上面的函数进行分组操作

In [55]:
# 我们使用 分组中的apply功能, 这个功能可以自定义函数
topn = re_df_grouped.apply(get_topn, n = 5)
topn

              用户ID  产品ID  推荐指数
用户ID
1    424         1   425   5.0
     332         1   333   5.0
     482         1   483   5.0
     650         1   651   5.0
     495         1   496   5.0
...            ...   ...   ...
943  1585193   943   750   5.0
     1584964   943   521   5.0
     1585462   943  1019   5.0
     1585367   943   924   5.0
     1584715   943   272   5.0

[4715 rows x 3 columns]

In [56]:
# 上面的结果多了一个无用的索引, 把它删除掉
# 把删除后的新的索引传递给这个表
topn.index = topn.index.droplevel(1)

In [58]:
topn.drop(columns='用户ID' , inplace =True)

In [59]:
# 得到最终的推荐结果
topn

      产品ID  推荐指数
用户ID
1      425   5.0
1      333   5.0
1      483   5.0
1      651   5.0
1      496   5.0
...    ...   ...
943    750   5.0
943    521   5.0
943   1019   5.0
943    924   5.0
943    272   5.0

[4715 rows x 2 columns]

### 或者是直接调用写好的函数

In [71]:
import recommend

In [72]:
import imp
imp.reload(recommend)

In [73]:
from recommend import get_recom

In [74]:
get_recom(predict_matrix , df_pivot,k = 2)

      产品ID  推荐指数
用户ID
1      425   5.0
1      333   5.0
2      515   5.0
2      124   5.0
3     1612   5.0
...    ...   ...
941     50   5.0
942    333   5.0
942      8   5.0
943    750   5.0
943    521   5.0

[1886 rows x 2 columns]